* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: rgb(121, 90, 53);
}

header {
  border-top: solid 0.1px;
  div.container {
    width: 1024px;
    display: flex;
    height: 64px;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 24px;

    a {
      text-decoration: none;
      color: black;
    }

    .logo {
      display: flex;
      align-items: center;

      img {
        height: 40px;
      }
    }

    .nav_mobile {
      display: none;
    }

    ul {
      height: 64px;
      gap: 16px;
      list-style: none;
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: 1000px) {
    .logo {
      display: none !important;
    }
    .nav {
      display: none;
    }
    .container {
      display: flex;
      justify-content: space-evenly !important;
      width: auto !important;
    }
    div.nav_mobile {
      height: 64px;
      display: flex !important;
      justify-content: space-evenly !important;
      gap: 60px;
      align-items: center;
    }
  }
}

main {
  h1 {
    color: rgb(59, 59, 59);
    font-size: 37px;
  }

  h2 {
    color: rgb(59, 59, 59);
    font-size: 32px;
  }

  h3 {
    color: rgb(59, 59, 59);
    font-size: 22px;
  }

  p {
    color: rgb(59, 59, 59);
  }

  .hero {
    background-color: rgb(207, 207, 207);

    .container {
      width: 1024px;
      display: flex;
      margin: 0 auto;

      .hero_left {
        width: 60%;
        min-width: 60%;
        padding: 32px 24px;

        img {
          max-width: 100%;
        }
      }

      .hero_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding-right: 110px;
      }

      a {
        text-decoration: none;
        color: white;
        border: hidden;
        background-color: rgb(59, 59, 59);
        display: flex;
        justify-content: center;
        padding: 8px 0;
        transition: ease 0.3s all;

        &:hover {
          background-color: rgb(116, 116, 116);
          color: rgb(29, 29, 29);
        }
      }
    }

    @media (max-width: 1000px) {
      .container {
        flex-direction: column;
        align-items: center;
        width: auto;
        .hero_left {
          width: auto;
          padding: 0;
        }
        .hero_right {
          padding: 32px 16px;
        }
      }
    }
  }

  .information {
    .container {
      width: 1024px;
      display: flex;
      margin: 0 auto;

      .info_left {
        width: 60%;
        margin: 32px 24px;

        img {
          max-width: 100%;
          padding-bottom: 32px;
        }

        h2 {
          magin: 32px 0;
        }

        p {
          margin: 32px 0;
        }
      }

      .info_right {
        width: 40%;
        padding-top: 18px;

        .card {
          display: flex;
          padding: 16px;
          transition: ease 0.3s all;

          .card_image {
            height: auto;
            width: 35%;

            img {
              width: 100%;
            }
          }

          .mobile_card_image {
            display: none;
          }

          .card_detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            gap: 8px;
            width: 65%;

            a {
              text-decoration: none;
            }
          }

          &:hover {
            background-color: rgb(189, 189, 189);
          }
        }
      }
    }
    @media (max-width: 1000px) {
      .container {
        width: auto !important;
        justify-content: center;
        .info_left {
          display: none;
        }
      }
      div.info_right {
        width: auto !important;
      }
      .info_card {
        gap: 64px;
        margin: 16px;
      }
      .card {
        flex-direction: column;
        .card_image {
          display: none;
        }
        .mobile_card_image {
          display: flex !important;
          img {
            width: 100%;
          }
        }
        .card_detail {
          padding-top: 20px;
        }
      }
    }
  }

  .course {
    background-color: rgb(231, 231, 231);
    display: flex;

    h2 {
      margin: 32px 0;
    }

    .container {
      width: 1024px;
      margin: 0 auto;

      .label {
        display: flex;
        justify-content: center;
      }

      .mobile_couse_info {
        display: none;
      }

      .course_info {
        display: flex;
        flex-direction: column;

        .side {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          padding: 0 72px;
          gap: 32px;
          padding-bottom: 24px;
        }

        .card {
          display: flex;
          flex-wrap: wrap;
          width: 30%;
          transition: ease 0.3s all;
          .card_image {
            img {
              width: 100%;
            }
          }

          .card_detail {
            padding-top: 16px;
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
          &:hover {
            background-color: rgb(160, 160, 160);
          }
        }
      }
    }

    @media (max-width: 1000px) {
      .container {
        background-color: white;
        .side {
          display: none !important;
        }
        .mobile_couse_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 24px;
          .mobile_list {
            border: hidden;
            width: 300px;
            .list {
              padding-bottom: 3px;
            }
            h3 {
              background-color: rgb(206, 206, 206);
              padding: 16px 16px 24px 16px;
              transition: ease 0.3s all;
              &:hover {
                background-color: rgb(151, 151, 151);
              }
            }
          }
        }
      }
    }
  }

  .thesis {
    display: flex;

    .container {
      width: 1024px;
      margin: 0 auto;

      .label {
        display: flex;
        justify-content: center;

        h2 {
          padding: 32px 0;
        }
      }
      .thesis_video {
        display: none;
      }
    }
  }
}

.thesis_info {
  display: flex;
  .thesis_left {
    width: 60%;
    padding-left: 4px;
    padding-right: 24px;
    video {
      width: 100%;
    }
    .under_video {
      display: flex;
      flex-direction: column;
      h3 {
        padding-top: 24px;
      }
      p {
        margin: 8px 0 32px 0;
      }
    }
  }
  .thesis_right {
    .card {
      display: flex;
      padding: 16px;
      transition: ease 0.3s all;
      .card_image {
        width: 35%;
        img {
          width: 100%;
        }
      }
      .card_detail {
        display: flex;
        flex-direction: column;
        width: 65%;
        padding: 0 16px;
        justify-content: center;
        gap: 8px;
      }
      &:hover {
        background-color: rgb(214, 214, 214);
      }
    }
  }
}
@media (max-width: 1000px) {
  .thesis {
    padding: 0%;
    padding-bottom: 24px;
    width: auto;
    .thesis_info {
      display: none !important;
    }
    .mobile_thesis {
      max-width: auto;
      .thesis_video {
        display: flex !important;
        width: auto;
        video {
          width: 100%;
        }
      }
    }
  }
}

footer {
  .container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: solid 0.5px;
    .f {
      padding: 16px 24px;
      a {
        text-decoration: none;
        color: rgb(71, 71, 71);
      }
    }
    @media (max-width: 1000px) {
      a {
        display: none;
      }
      font-size: 10px;
      border: none;
    }
  }
}
