* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(121, 90, 53);
}

header {
  div.container {
    width: 1024px;
    display: flex;
    height: 64px;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 24px;
    a {
      text-decoration: none;
      color: black;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    ul {
      height: 64px;
      gap: 16px;
      list-style: none;
      display: flex;
      align-items: center;
    }
  }
}

main {
  h1 {
    color: rgb(59, 59, 59);
    font-size: 37px;
  }
  p {
    color: rgb(59, 59, 59);
  }
  .hero {
    background-color: rgb(207, 207, 207);
    .container {
      width: 1024px;
      display: flex;
      margin: 0 auto;
      .hero_left {
        width: 60%;
        min-width: 60%;
        img {
          max-width: 100%;
        }
      }
      .hero_right {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
      }
      a {
        text-decoration: none;
        color: white;
        border: hidden;
        background-color: rgb(59, 59, 59);
        display: flex;
        justify-content: center;
        padding: 8px 0;
      }
    }
  }
}
