* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: rgb(121, 90, 53);
}

header {
  div.container {
    width: 1024px;
    display: flex;
    height: 64px;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 24px;
    a {
      text-decoration: none;
      color: black;
    }
    .logo {
      display: flex;
      align-items: center;
      img {
        height: 40px;
      }
    }
    ul {
      height: 64px;
      gap: 16px;
      list-style: none;
      display: flex;
      align-items: center;
    }
  }
}

main {
  h1 {
    color: rgb(59, 59, 59);
    font-size: 37px;
  }
  h2 {
    color: rgb(59, 59, 59);
    font-size: 32px;
  }
  h3 {
    color: rgb(59, 59, 59);
    font-size: 22px;
  }
  p {
    color: rgb(59, 59, 59);
  }
  .hero {
    background-color: rgb(207, 207, 207);
    .container {
      width: 1024px;
      display: flex;
      margin: 0 auto;
      .hero_left {
        width: 60%;
        min-width: 60%;
        padding: 32px 24px;
        img {
          max-width: 100%;
        }
      }
      .hero_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding-right: 110px;
      }
      a {
        text-decoration: none;
        color: white;
        border: hidden;
        background-color: rgb(59, 59, 59);
        display: flex;
        justify-content: center;
        padding: 8px 0;
        transition: ease 0.3s all;
        &:hover {
          background-color: rgb(116, 116, 116);
          color: rgb(29, 29, 29);
        }
      }
    }
  }
  .information {
    .container {
      width: 1024px;
      display: flex;
      margin: 0 auto;
      .info_left {
        width: 60%;
        margin: 32px 24px;
        img {
          max-width: 100%;
          padding-bottom: 32px;
        }
        h2 {
          magin: 32px 0;
        }
        p {
          margin: 32px 0;
        }
      }
      .info_right {
        width: 40%;
        padding-top: 18px;
        .card {
          display: flex;
          padding: 16px;
          .card_image {
            height: auto;
            width: 35%;
            img {
              width: 100%;
            }
          }
          .card_detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            gap: 8px;
            width: 65%;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
